* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

header, main, footer {
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}
nav {
    width: 500%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    width: 25%;
}